h1 {
  text-shadow: -2px 5px 0px #cf7754;
  text-align: center;
  color: #232525;
}
.kirmizi {
  background-color: red;
  margin: auto;
  height: 320px;
  width: 320px;
}
.beyaz {
  background-color: white;
  position: absolute;
}
.dik {
  margin-top: 60px; /* top 60 */
  height: 200px; /* 2*60+200=320 */
  margin-left: 130px; /* go 130 --> */
  width: 60px; /* --> 130+60, for end 130 */
}
.yatay {
  margin-top: 130px; /* top 130 */
  height: 60px; /* 2*130+60=320 */
  margin-left: 60px; /* go 60 --> */
  width: 200px; /* --> 60+200, for end 60 */
}